body {
	background-color: lightblue;
}

.bar-chart-title {
	text-align: center;
	font-size: 24px;
}

.bar-chart {
	background-color: white;
	display: block;
	margin: auto;
}

.bar {
	fill: blue;
}

div .tooltip {
	position: absolute;
	text-align: center;
	width: 200px;
	height: 75px;
	background: grey;
	border: 0px;
	pointer-events: none;
}
